
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
            <plist version="1.0">
                <dict>
                    <key>items</key>
                    <array>
                        <dict>
                            <key>assets</key>
                            <array>
                                <dict>
                                    <key>kind</key>
                                    <string>software-package</string>
                                    <key>url</key>
                                    <string>http://10.16.21.90:8888/media/file/installapp/1730279961_bce27954be768f8441503abdef3a80cb.ipa</string>
                                </dict>
                                <dict>
                                    <key>kind</key>
                                    <string>full-size-image</string>
                                    <key>needs-shine</key>
                                    <true/>
                                    <key>url</key>
                                    <string></string>
                                </dict>
                                <dict>
                                    <key>kind</key>
                                    <string>display-image</string>
                                    <key>needs-shine</key>
                                    <true/>
                                    <key>url</key>
                                    <string></string>
                                </dict>
                            </array>
                            <key>metadata</key>
                            <dict>
                                <key>title</key>
                                <string>测试包</string>
                                <key>bundle-version</key>
                                <string>10.9.2</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>bundle-identifier</key>
                                <string>com.global.musvn.ios</string>
                            </dict>
                        </dict>
                    </array>
                </dict>
            </plist>
            